<!-- Footer -->
<footer class="text-white text-center" style="margin-top: 80px; background-color:darkslategray">
  <div class="me-5 d-none d-lg-block">
      <span>Conectate a mis redes sociales:</span>
    </div>
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href= "https://github.com/sznitowski"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.instagram.com/valentin_sznitowski/?hl=es-la"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://www.linkedin.com/in/valent%C3%ADn-sznitowski/"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/sznitowski"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <u><h3 class="mb-4">Api Services</h3></u>
        <p>Con esta aplicación podemos realizar busquedas de distintos servicios.</p>
        <p>Tambiénn podemos crear un usuario y ofrecer algun servicio.</p>

      </div>

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <u><h3 class="mb-4" id="contact">Contacto</h3></u>

        <ul class="list-unstyled">
          <li>
              <i class="fas fa-home mr-3"> Argentina, Tucuman</i> 
          </li>
          <li>
              <i class="fas fa-envelope mr-3"> vsznitowski@gmail.com</i>
          </li>
          <li>
              <i class="fas fa-phone mr-3"> 0381-6281723</i> 
          </li>
        </ul>

      </div>

    </div>
    <!-- Grid row -->

  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
   <a href="https://github.com/sznitowski/" style="text-decoration: none; color:cyan;">https://github.com/sznitowski</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->