{{>header}}      
    <div style="text-align: center">
      <p><i class='bx bxs-chevrons-left'></i><a>Buscar servicios</a><i class='bx bxs-chevrons-right'></i></p>
      <p>ir a..</p>
    </div>
  
  <div class="bg-dark text-light" style="text-align: center">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quidem illum in. Ex et laborum ratione sit perferendis recusandae animi aut rem? Ea cupiditate at magnam mollitia totam voluptate ad!Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quidem illum in. Ex et laborum ratione sit perferendis recusandae animi aut rem? Ea cupiditate at magnam mollitia totam voluptate ad!Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quidem illum in. Ex et laborum ratione sit perferendis recusandae animi aut rem? Ea cupiditate at magnam mollitia totam voluptate ad!</p>
  </div>

<footer>
      <div class="fixed-bottom" style="text-align: center">Copyright © 2021 Servicios Inc. All rights reserved.</div>
</footer>
