<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <img style="width:60px"; src="../img/img.png"/>
    <a class="navbar-brand text-light" href="#">Api-Servicios</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="btn btn-dark btn-outline-warning" href="http://localhost:3000/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark btn-outline-warning" href="/users/list">Servicios</a>
        </li>
       <li class="nav-item">
          <a class="btn btn-dark btn-outline-warning" href="/users/showCreate">Registrarse</a>
        </li>
         <li class="nav-item">
          <a class="btn btn-dark btn-outline-warning" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark btn-outline-warning" href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

      <div style="text-align: center">
      <p><i class='bx bxs-chevrons-left'></i><a>Buscar servicios</a><i class='bx bxs-chevrons-right'></i></p>
      <p>ir a..</p>
    </div>
  
  <div class="bg-dark text-light" style="text-align: center">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quidem illum in. Ex et laborum ratione sit perferendis recusandae animi aut rem? Ea cupiditate at magnam mollitia totam voluptate ad!Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quidem illum in. Ex et laborum ratione sit perferendis recusandae animi aut rem? Ea cupiditate at magnam mollitia totam voluptate ad!Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quidem illum in. Ex et laborum ratione sit perferendis recusandae animi aut rem? Ea cupiditate at magnam mollitia totam voluptate ad!</p>
  </div>

<footer>
      <div class="fixed-bottom" style="text-align: center">Copyright © 2021 Servicios Inc. All rights reserved.</div>
</footer>
