{{>header}}

<div class="row d-flex justify-content-center">
<form class="user-form" action="/users/login" method="POST">
<i class="fas fa-user-circle" style= "font-size: 200px"></i><h5>Iniciar sesion:</h5>

   <!-- Nombre input -->
  <div class="form-outline mb-4">
    <label class="form-label" >Usuario</label>
    <input type="text" name="name" placeholder="Ingresa tu Usuario" />
  </div>
  <!-- Contraseña input -->
  <div class="form-outline mb-4">
    <label class="form-label" >Contraseña</label>
    <input type="password" name="password" placeholder="Ingresa tu contraseña" />
  </div>
  <button type="submit" class="btn btn-primary btn-block mb-4" value="ingresar">Ingresar</button>
  <div class="text-center">
    
    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button>
  </div>
</form>
</div>
</div>
