{{>header}}

  <div class="row-form">
  <form class="user-form" action="/users/update" method="POST">
  
  <img class="mb-4" src="../img/login.png" width="100" style="margin-top: 20px; border: 8px solid rgb(235, 224, 224); border-radius: 100% ">
  <h2 class="h3 mb-3 fw-normal">Modifica tus datos</h2>

  {{!-- input nombre --}}
   <div class="form-floating">
   <input type="text" class="form-control" name="name" value="{{user.name}}" placeholder="cambiar tu usuario"/>
   <label class="form-label" >Usuario</label>
   </div>
   {{!-- Servicios input --}}
   <div class="form-floating">
   <input type="text" list="buscarservicios" name="service" class="form-control" value="{{user.service}}" placeholder="cambiar de servicio"/>
   <label class="form-label">Lista de Servicios</label>
    <datalist id="buscarservicios">
            <option value="animador">
            <option value="albañil">
            <option value="artesano">
            <option value="cajero">
            <option value="carpintero">
            <option value="cerrajero">
            <option value="chofer">
            <option value="cocinero">
            <option value="costurera">
            <option value="electricista">
            <option value="enfermera">
            <option value="fumigador">
            <option value="gasista">
            <option value="herrero">
            <option value="jardinero">
            <option value="medico">
            <option value="medico">
            <option value="modista">
            <option value="mucama">  
            <option value="niñera">
            <option value="panadero">
            <option value="peluquero">
            <option value="pintor">
            <option value="plomero">
            <option value="podologo">
            <option value="profesor particular">
            <option value="repartidor">
            <option value="sastre">
            <option value="seguridad">
            <option value="servicio domestico">
            <option value="tecnico electronico">
            <option value="tecnico en refrigeracion">
            <option value="tecnico en refrigeracion">
            <option value="vigilante">
            <option value="vendedor">
            <option value="zapatero">
          </datalist>
  </div>

    <!-- Email input -->
    <div class="form-floating">
    <input type="email" name="contact" class="form-control" value="{{user.contact}}" placeholder="cambiar tu E-mail"/>
    <label class="form-label">Correo electronico</label>
    </div>

    <!-- informacion adicional input -->
    <div class="form-floating">
    <input type="text" name="description" class="form-control" placeholder="información adicional"/> 
    <label class="form-label">Breve descripción</label>  
    </div>
    
     <!-- Ubicacion input -->
    <div class="form-floating">
    <input type="text" name="location" class="form-control" list="citynames" value="{{user.location}}" placeholder="cambiar tu ubicacion" />
    <label for="form-label">Ubicacion:</label>
    <datalist id="citynames">
            <option value="San Miguel de Tucuman">
            <option value="Trancas">
            <option value="Burruyacú">
            <option value="Tafí Viejo">
            <option value="Tafí del Valle">
            <option value="Yerba Buena">
            <option value="Lules">
            <option value="Cruz Alta">
            <option value="Leales">
            <option value="Famaillá">
            <option value="Monteros">
            <option value="Chicligasta">
            <option value="Simoca">
            <option value="Río Chico">
            <option value="Juan Bautista Alberdi">
            <option value="La Cocha">
            <option value="Graneros">
          </datalist>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4" value="Actualizar">Actualizar</button>
     <p class="mt-5 mb-3 text-muted">&copy; 2021–2021</p>
  </form>


</div>

<footer>
   {{>footer}} 
</footer>
